.statusContainer{
    padding: 20px;
    background-image: url(./image/5.jpeg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 100%;
    height: 100vh;
}
.statusButton{
    margin-left: 25px;
    margin-top:35px;
}
.oki{
     margin: 15px 0;
     height: 10vh;
     width: 250px;
     background-color:#1460BD;
     color:#FFFFFF;
     margin-bottom: 25px;
     border-radius: 32px;
     text-align: center;
     cursor: pointer;
     transition: all 0.1s ease-in-out;
}
.oki:hover {
   background-color: #4CAF50;
}