.homeContainer1 {
    padding: 40px;
    background-image: url(./image/5.jpeg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 100%;
    height: 100vh;
}

.header {
    margin-bottom: 40px;
}

.header__icon {
    margin-right: 70px;
}

.header__icon2 {
    margin-left: 75px;
}
.info{
    background-color:white;
    height:45vh;
    padding:10px;
}