.statusContainer{
    padding: 20px;
    background-image: url(./image/5.jpeg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 100%;
    height: 100vh;
}

.statusHeader{
    margin-top: 25px;
}