.homeContainer1 {
    padding: 40px;
    background-image: url(./image/5.jpeg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 100%;
    height: 110vh;
}

.header {
    margin-bottom: 40px;
}

.header__icon {
    margin-right: 70px;
}

.header__icon2 {
    margin-left: 75px;
}
.info{
    background-color:white;
    height:45vh;
    padding:10px;
}
.info p{
    border: 1px solid;
    
}
.infoParagraph{
    margin-top:10px;

}
.message{
    margin-top: 15px;
    text-transform: uppercase;
    color:white;
    background:#1460BD;
    padding:8px;
    transition: ease-in ;
    border: 2px solid;
}