:root {
  --background: #1460BD;
  --background-accent:#1460BD;
  --background-accent-2: #1460BD;
  --light: #559aee;
  --dark: #01070f;
  --text: #1a0056;
}
.homeContainer1 {
    padding: 40px;
    background-image: url(./image/5.jpeg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 100%;
    height: 110vh;
}

.header {
    margin-bottom: 40px;
}

.header__icon {
    margin-right: 70px;
}

.header__icon2 {
    margin-left: 75px;
}
.info{
    background-color:white;
    height:45vh;
    padding:10px;
}
.info p{
    border: 1px solid;
    
}
.infoParagraph{
    margin-top:10px;

}
.message{
    margin-top: 15px;
    text-transform: uppercase;
    color:white;
    background:#1460BD;
    padding:8px;
    transition: ease-in ;
    border: 2px solid;
}
Button {
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--light);
  width: 400px;
  height: 70px;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text);
  background-size: 100% 100%;
  box-shadow: 0 0 0 7px var(--light) inset;
  margin-bottom: 15px;
}

Button:hover {
  background-image: linear-gradient(
    145deg,
    transparent 10%,
    var(--dark) 10% 20%,
    transparent 20% 30%,
    var(--dark) 30% 40%,
    transparent 40% 50%,
    var(--dark) 50% 60%,
    transparent 60% 70%,
    var(--dark) 70% 80%,
    transparent 80% 90%,
    var(--dark) 90% 100%
  );
  animation: background 3s linear infinite;
}

@keyframes background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400px 0;
  }
}