.homeContainer{
    padding: 40px;
    background-image: url(./image/5.jpeg) !important;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    margin:auto;
    width:100%;
    height:100vh;
}
.homeHeader{
    display: flex;
}


.homeHeader_text {
  margin-left: 10px;
}
.homeHeader_notificationIcon {
    margin-left: 200px;
}
.homeButton {
    margin-top: 150px;
}

.homeButton1 {
    display: flex;
    flex-direction: column;
}
.homeButton1 button:hover {
    background-color: #aeb5be;
    color:#FFFF;
}
.homeButton2 {
    display: flex;
    flex-direction: column;
}
.homeButton2 button:hover {
    background-color: #aeb5be;
    color: #FFFF;
}
.logoutApp{
    display: flex;
    flex-direction: row;
    margin-left: 180px;
    padding:7px;
 
}
.logoutApp p{
    padding-right:5px;
    color:red;
    text-decoration: underline;
}