.container{
    padding: 30px;
    background-image: url(./image/5.jpeg) !important;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    margin:auto;
    width:100%;
    height:110vh;
    

}
.header__icon{
    color:white;
}
.prenomInfo{
    display:flex;
  
    margin-top: 40px;
  
    background-color:#1460BD;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
.prenomInfo h3{
    color:white;
    text-align: center;
    padding: 10px;
    
    text-transform: uppercase;
}
.circleIcon {
    color:white;
}
.iconperson p {
    margin-left: 10px;
    color:white;
    
}
.title{
    margin-top:20px;
    font-size:25px;
    border-radius: 10px;
    background-color:#eff1f3;
    border: 2px solid black;
    color:#1460BD;
    
}