.authContainer{
    padding: 30px;
    background-image: url(./image/5.jpeg) !important;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    margin:auto;
    width:100%;
    color:aliceblue;
    height:100vh;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loginForm {
    margin-top: 30px;
    
}
.loginSubtitle{
    color:rgba(255, 255, 255, 0.897);
    margin-top: 10px;
    margin-left: 70px;
    font-size: 25px;
    text-transform: uppercase;
}
.loginError{
    color:rgb(204, 31, 31);
}

